/*thi is the css of contact page*/
* {
    margin: 0;
    padding: 0;
}
.navicationbar{
    height: 75%;
    width: 400px;
    margin-top: 6px;
    margin-right: 20px;
    float: right;
    border-radius: 10px;
}
/* logo anomations*/
.loader {
    width: 6em;
    height: 6em;
    font-size: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate023845 3s linear infinite;
}
.loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: rgb(22, 255, 22);
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
}
.loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: rgb(0, 64, 255);
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
}
.loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}
.loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
        0 0 4em,
        0 0 6em,
        0 0 8em,
        0 0 10em,
        0 0 0 0.5em rgba(255, 255, 0, 0.1);
}
@keyframes animate023845 {
    to {
        transform: rotate(1turn);
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}
.input_textfields{
    text-align: center;
    width: 300px;
}
/* Navication bar codepen*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}
li a {
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 6%;
}
li a:hover {
    overflow: visible;
    transform: translateY(15%);
    transition: 0.50s;
    box-shadow: rgba(66, 255, 170, 0.368) 0px 13px 47px 5px, rgb(82, 111, 115) 0px 8px 16px 1px;
}
li a.active {
    margin-right: 5px;
    color: #2243ff;
    background-color: #f3f3f3;
    transition: 0.90s;
}
li a.active:hover {
    box-shadow: rgba(66, 255, 170, 0.368) 0px 13px 47px 5px, rgb(82, 111, 115) 0px 8px 16px 1px;
}
/* menu icon */
.menu {
    height: 50%;
    width: 35px;
    margin-right: 40px;
    float: right;
    text-align: center;
    margin-top: 15px;
}
.iconLine{
    height: 3px;
    width: 20px;
    margin: 5px;
    background-color: #666;
}

body{
    height: auto;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
:root {
    --navbar-height: 59px;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 2px solid white;
    border-radius: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 70%;
    display: flex;
}

.nav-list li {
    list-style: none;
    padding: 2px 6px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.rightNav {
    padding: 20px;
    width: 50px;
    text-align: right;
}

.input_textfields {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background {
    width: 100%;
    background-color: grey;
    background-size: cover;
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 65%;
    margin: auto;
    height: 80%;
}

.firstHalf {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstHalf img {
    display: flex;
    border-radius: 9050px;
}

.text-big {
    font-family: "Piazzolla", serif;
    font-weight: bold;
    font-size: 41px;
    text-align: center;
}

.text-small {
    font-family: "Sansita Swashed", cursive;
    font-size: 18px;
    text-align: center;
}

#service {
    margin: 34px;
    display: flex;
}

#service .box {
    padding: 15px;
    margin: 20px;
    border-radius: 28px;
}

#service .box img {
    margin-top: 20px;
    height: 100px;
    margin: auto;
    display: block;
    border-radius: 200px;
}
#service .box p {
    font-family: sans-serif;
}
.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
    transition: 0.95s;
}
.btn-sm:hover{
    box-shadow: 7px 5px 56px 5px #0015ff;
    transform: scale(0.95);
    transition: 0.5s;
    background-color: whitesmoke;
    color: black;
}
.center {
    text-align: center;
}
.row {
    /*background-color: red;*/
    text-align: center;
}
.container::after, .row::after {
    margin: 10px;
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
    margin-top: 10px;
}
.button{
    height: 40px;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 9px;
    border: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: blue
}

.button:hover {
    box-shadow: 7px 5px 56px 5px #0015ff;
    transform: scale(0.95);
    transition: 0.5s;
    color: black;
    background-color: whitesmoke;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
}